
#boton{
    list-style: none;
    text-align: center;
    padding-top: 10px;
    width: 130px;
    height: 30px;
    border: 1px solid black;
    background-color: rgba(14, 145, 14, 0.853);

    &:hover{
        background-color: red;
    }
}